doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        link(rel="stylesheet", href="/static/css/style.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css")
        script(src="/static/js/main.js",defer) 
        block script
        title #{pageTitle} | #{siteName}
    body
        main
            h1=pageTitle
            nav
                ul
                    li
                        a(href="/") Home
                    if !loggedIn
                        li
                            a(href="/login") Login
                        li
                            a(href="/join") Join
                    else
                        li
                            a(href="/user/edit") #{user.name} Edit profile
                        li
                            a(href=`/user/${user._id}`) My profile
                        li
                            a(href="/video/upload") Upload
                        li
                            a(href="/user/logout") Log out
            div
                block content
        include includes/footer